body, html {
    height: 100%;
  }
.main {
    display: grid;
    height: 100%;
    grid-template-rows: 70px 1fr 70px;
    grid-template-areas: "header header"
                         "stocks stocks"
                         "footer footer"
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.stocks {
    grid-area: stocks;
}

.none {
    display: none;
}

.blue {
    background-color: #33bfff;
}